.header{
    height: 70px;
    display: flex;
    justify-content: space-around;
}

.search{
    display: flex;
    align-items: center;
}

.search img{
    height: 40px;
}

.search div{
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(199, 199, 199);
}

.search div input{
    height: 30px;
    border: 0;
    background-color: transparent;
}

.search div img{
    height: 20px;
    width: 20px;
}

.nav{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.cart{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}

.cart button{
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: deeppink;
    background-color: pink;
    border: none;
    border-radius: 10px;
}

.cart button img{
    width: 20px;
    height: 20px;
}

.cart a img{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}